<div class="container-xl">
    <div class="row justify-content-center">
        <div class="col-10 box-layout my-5">
            <h4 class="text-center title-upload">Batches</h4>
            <div class="row">
                <div class="col-md-6 mb-5">
                    <h6 class="mb-0">Filter By Technologies or Status:</h6>
                    <div class="d-flex">
                        <div class="tech-dropdown mt-2" ngbDropdown>
                            <button class="btn btn-primary btn-filters d-flex align-items-center option-btn text-uppercase" id="selectButton" ngbDropdownToggle>
                                <span class="d-block w-100 text-center">{{selectedTechOption}}</span>
                            </button>
                            <div ngbDropdownMenu aria-labelledby="selectButton">
                                <button class="dropdown-item" (click)="selectTechOption(data);searchOnTech()" *ngFor="let data of storeBatchTech">{{data}}</button>
                            </div>
                        </div>
                        <div class="status-dropdown mt-2" ngbDropdown>
                            <button class="btn btn-primary btn-filters d-flex align-items-center option-btn mb-0 mx-3 text-uppercase" id="selectButton" ngbDropdownToggle>
                                <span class="d-block w-100 text-center">{{selectedStatus}}</span>
                            </button>
                            <div ngbDropdownMenu aria-labelledby="selectButton">
                                <button class="dropdown-item" (click)="selectStatus(data);searchOnStatus()" *ngFor="let data of storeBatchStatus">{{data}}</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 text-md-right">
                    <button class="btn btn-primary btn-light mb-5" (click)="exportData()">Export to Excel</button>
                </div>
            </div>
            <div class="show-columns">
                <h6 class="d-flex justify-content-between" (click)="collapse.toggle()"
                [attr.aria-expanded]="!isCollapsed"
                aria-controls="collapseExample">Show Hidden Columns <span>&#xfe40;</span></h6>
                <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
                    <ul class="list-unstyled d-flex justify-content-between flex-wrap mb-0 py-3">
                        <li class="d-flex align-items-center checkbox-inputs" *ngFor="let checkbox of checkboxes">
                          <input type="checkbox" [(ngModel)]="checkbox.checked" (change)="onCheckboxChange(checkbox.field, checkbox.checked)" />
                          <span class="d-block">{{checkbox.label}}</span>
                        </li>
                    </ul>
                    <a href="javascript:void(0)" (click)="resetToDefault()">Reset to default</a>
                </div>
            </div>
            <!-- <h6 class="bg-danger text-white p-2" *ngIf="errBlock">{{errTxt}}</h6> -->
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Batch Title</th>
                            <th scope="col">Technologies</th>
                            <th scope="col">Start Date</th>
                            <th scope="col">End Date</th>
                            <th scope="col">Training Coordinator</th>
                            <th scope="col">Head Trainer</th>
                            <th scope="col">No. of Trainees</th>
                            <th scope="col">Status</th>
                            <th scope="col">Created At</th>
                            <th scope="col">ID</th>
                            <ng-container *ngFor="let checkbox of checkboxes">
                                <th scope="col" *ngIf="checkbox.checked">{{checkbox.label}}</th>
                            </ng-container>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngIf="storeBatchData.length === 0">
                            <tr>
                              <td class="bg-danger text-white" colspan="10">No matching records found.</td>
                            </tr>
                        </ng-container>
                        <tr *ngFor="let data of storeBatchData">
                            <td>{{ data.batchTitle }}</td>
                            <td>{{ data.tech }}</td>
                            <td>{{ data.startDate | date }}</td>
                            <td *ngIf="data.endDate !== null">{{ data.endDate | date }}</td>
                            <td *ngIf="data.endDate === null">N/A</td>
                            <td>{{ data.trainingCoordinator }}</td>
                            <td>{{ data.headTrainer }}</td>
                            <td>{{ data.NoOfTrainees  || 'N/A' }}</td>
                            <td>{{ data.status }}</td>
                            <td>{{ data.createdAt | date }}</td>
                            <td>{{ data.id }}</td>
                            <td *ngIf="getCheckboxState('isProcessed')">{{ data.isProcessed}}</td>
                            <td *ngIf="getCheckboxState('updatedAt')">{{ data.updatedAt | date}}</td>
                            <td *ngIf="getCheckboxState('NoSuccess') !== false">{{ data.NoSuccess || 'N/A'}}</td>
                            <td *ngIf="getCheckboxState('NoFailed') !== false">{{ data.NoFailed || 'N/A'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <p class="mb-0 page-numbers"><strong>{{getStartingRecord()}}</strong> to <strong>{{getEndingRecord()}}</strong> of <strong>{{totalRecords}}</strong></p>
                <ul class="list-unstyled d-flex align-items-center pagination mb-0">
                    <li class="first-page icons" (click)="onPageChange(1)">&laquo;</li>
                    <li class="previous icons" (click)="onPageChange(currentPage - 1)">&#8249;</li>
                    <li class="page-listings">Page <strong>{{currentPage}}</strong> of <strong>{{totalPages}}</strong></li>
                    <li class="next icons" (click)="onPageChange(currentPage + 1)">&#8250;</li>
                    <li class="lastpage icons" (click)="onPageChange(totalPages)">&raquo;</li>
                </ul>
            </div>
        </div>
    </div>
</div>