<div class="container-xl">
    <div class="row justify-content-center">
        <div class="col-6 box-layout my-5">
            <h4 class="text-center title-upload">Upload</h4>
            <div class="upload-type">
                <p class="mb-2">Upload Type:</p>
                <div ngbDropdown>
                    <button class="btn btn-outline-primary" id="selectButton" ngbDropdownToggle><span class="d-block w-100 text-center">{{selectedOption}}</span></button>
                    <div ngbDropdownMenu aria-labelledby="selectButton">
                    <button class="dropdown-item" (click)="selectOption('Training Dashboard')">Training Dashboard</button>
                    <button class="dropdown-item" (click)="selectOption('Employee Master')">Employee Master</button>
                    </div>
                </div>
            </div>
            <div class="file-upload">
                <div class="file-select" [ngClass]="{ 'file-uploaded': uploadSuccess }">
                    <div class="file-select-button" id="fileName">Choose File</div>
                    <div class="file-select-name" id="noFile">{{updateFileName}}</div> 
                    <input type="file" name="chooseFile" id="chooseFile" (change)="onFileSelected($event)">
                </div>
                <small><i>( Accepted file type: .xls, .xlsx )</i></small>
                <div *ngIf="uploadSuccessful" class="upload-msg text-success">File upload successful</div>
                <div *ngIf="uploadFailed" class="upload-msg text-danger">File upload failed. Please try again.</div>
                <div *ngIf="uploadError" class="upload-msg text-danger">{{uploadError}}</div>
                <button class="btn btn-primary text-uppercase" (click)="uploadFile()">Upload</button>
            </div>
        </div>
    </div>
</div>
