/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '../node_modules/bootstrap/scss/bootstrap';

body, html {
    min-height: 100%;
    height: 100%;
}

.box-layout {
    border: 1px solid #e2eefd;
    padding: 40px 30px;
    transition: all ease-in-out 0.3s;
    background: #fff;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.05);
    width: 540px;
}

.btn-primary {
    padding: 8px 35px 10px 35px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.4px;
}
