/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '../node_modules/bootstrap/scss/bootstrap';

body, html {
    min-height: 100%;
    height: 100%;
}

.box-layout {
    border: 1px solid #e2eefd;
    padding: 40px 30px;
    transition: all ease-in-out 0.3s;
    background: #fff;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.05);
    //width: 540px;
}

.btn-primary {
    padding: 8px 35px 10px 35px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.4px;
}
.title-upload {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin: 0 0 50px;
}

thead th {
    min-width: 150px;
}

.page-numbers {
    font-size: 20px;
}

.pagination li{

    &.icons {
        font-size: 30px;
        margin-right: 10px;
        cursor: pointer;
    }

    &.page-listings {
        font-size: 20px;
        margin: 0 15px;
    }
}

.checkbox-inputs {
    padding: 0 20px 10px;

    input {
        margin-right: 7px;
        font-weight: 600;
    }

    span {
        margin-top: -1px;
        font-weight: 500;
    }
}

.show-columns {
    border: 1px solid #e2e6e9;
    margin-bottom: 20px;

    h6 {
        padding: 20px;
        font-size: 20px;
        border-bottom: 1px solid #e2e6e9;
        margin: 0;
        cursor: pointer;
    }

    a {
        padding: 0 20px 20px;
        display: inline-block;
    }
}

.btn-primary{
    border-radius: 0;

    &.btn-light {
        border: 1px solid #a6a6a6;
        background: #e7f1fd;
        letter-spacing: 1px;
        color: #106eea;
    }
}

.btn-primary.btn-filters {
    background: none;
    color: #212529;

    &:active {
        background: none;
        color: #212529;
    }
}

.text-md-right {
    @include media-breakpoint-up(md) {
        text-align: right;
    }
}