<header [class.menu-open]="!isNavbarCollapsed">
  <nav class="navbar navbar-expand-md">
    <div class="container-xl">
      <!-- Brand -->
      <a class="navbar-brand text-uppercase"><span>Training</span> Management App</a>

      <!-- Toggler/collapsible Button -->
      <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar links -->
      <div class="collapse navbar-collapse" [ngbCollapse]="isNavbarCollapsed" id="collapsibleNavbar">
        <ul class="navbar-nav justify-content-end w-100">
          <li class="nav-item">
            <a class="nav-link" routerLink="/upload" routerLinkActive="active">Upload Files</a>
          </li>
          <!-- Dropdown -->
          <li class="nav-item" ngbDropdown>
            <a class="nav-link" ngbDropdownToggle [ngClass]="{ 'active': isParentActive() }">
              Data Hub
            </a>
            <div ngbDropdownMenu>
              <a class="dropdown-item" routerLink="/raw-data/training-dashboard" routerLinkActive="active">Training Dashboard</a>
              <a class="dropdown-item" routerLink="/raw-data/batches" routerLinkActive="active">Batches</a>
              <a class="dropdown-item" routerLink="/raw-data/employees" routerLinkActive="active">Employees</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/jobs" routerLinkActive="active">Jobs</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
  